<h1>Hello, {{.Name}}!</h1>

<!--The code above is saying we want to create a HTML file that has a heading
	with the contents "Hello, {{.Name}}!" and replace the {{.Name}} portion
	with whatever is in the variable Name in our Go file.
-->

<!--The file extension .gohtml is optional.  It is commonly used by editors to
	indicate that you want to use syntax highlighting for Go HTML templates.
-->